<div [@routerTransition]>
  <app-page-header [heading]="'Gestion de Facultades'" [icon]="'fa-building'"></app-page-header>
  <div class="cont-actions">
    <div class="fac-selec">Facultad seleccionada: <strong>{{ message }}</strong></div>
    <div class="flt-button-action" title="Ver Programas" (click)="openFacultades(contentProg,'new')">
      <i class="fa fa-book"></i>
    </div>
    <div *ngIf = "idEdit" class="flt-button-action" title="Editar" (click)="open(content,'edit')">
      <i class="fa fa-edit"></i>
    </div>
    <div *ngIf = "!idEdit" class="flt-button-action" title="Editar" (click)="alertMessage('debe seleccionar un registro')">
      <i class="fa fa-edit"></i>
    </div>
    <div class="flt-button-action" title="Crear Programas" (click)="open(content,'new')">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <br />
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="hover table-striped" cellspacing="0" width="100%"></table>
</div>

<!--FORMULARIO MODAL PARA CREAR Y EDITAR FACULTADES-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Facultad</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">

      <form class="" method="post">
        <div class="form-group">
          <input type="hidden" class="form-control" id="txtIdFacultad" [(ngModel)]="idEdit" name="idEdit" #ctrl="ngModel">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre Facultad:</label>
          <input type="text" class="form-control" id="txtFacultad" [(ngModel)]="nameFac" name="nameFac" #ctrl="ngModel" placeholder="facultad de ..." required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre Director:</label>
          <input type="text" class="form-control" id="txtDirector" [(ngModel)]="directorFac" name="directorFac" #ctrl="ngModel" placeholder="nombre del director..." required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Descripción:</label>
          <input type="text" class="form-control" id="txtDescripcion" [(ngModel)]="descripFac" name="descripFac" #ctrl="ngModel" placeholder="en la facultad ofre...." required>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveFomr()">Guardar</button>

  </div>
</ng-template>

<!--MODAL DE NOTIFICACIONES-->
<ng-template #mdlNotification let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">{{titleNotification}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
   <div class="row">

     <div class="col-2 icon-message">
       <i [className] = 'iconNotification' [style.color] = "colorAlert"></i>
     </div>
     <div class="col-10">
       {{messageNotification}}
     </div>

   </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="c('Close click')">Aceptar</button>
  </div>
</ng-template>
