<div [@routerTransition]>
  <app-page-header [heading]="'Gestion de Egresados'" [icon]="'fa-user'"></app-page-header>
  <div class="cont-actions">
    <div class="fac-selec">Egresado seleccionado: <strong>{{ message }}</strong></div>
    <div class="flt-button-action" title="Ver Egresado">
      <i class="fa fa-book"></i>
    </div>
    <div *ngIf = "idEdit" class="flt-button-action" title="Editar">
      <i class="fa fa-edit"></i>
    </div>
    <div *ngIf = "!idEdit" class="flt-button-action" title="Editar">
      <i class="fa fa-edit"></i>
    </div>
    <div class="flt-button-action" title="Crear Egresado" (click)="open(content,'new')">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <!--<div class="">
    <button type="button" name="button" (click)="openGesEncuesta()">abrir encuesta</button>


  <div class="cont-view-egresados">
    <div class="flt-button-action-fixed" title="Crear Egresado" (click)="open(content,'new')">
      <i class="fa fa-plus"></i>
    </div>
  </div></div>-->


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="hover table-striped" cellspacing="0" width="100%"></table>

</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Formulario Egresado</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <!--  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>-->
  </div>
</ng-template>
<!--MODAL DE NOTIFICACIONES-->
<ng-template #mdlNotification let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">{{titleNotification}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
   <div class="row">

     <div class="col-2 icon-message">
       <i [className] = 'iconNotification' [style.color] = "colorAlert"></i>
     </div>
     <div class="col-10">
       {{messageNotification}}
     </div>

   </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="c('Close click')">Aceptar</button>
  </div>
</ng-template>
