<div [@routerTransition]>
  <app-page-header [heading]="'Gestion de Egresados'" [icon]="'fa-user'"></app-page-header>
  <div class="cont-actions">
    <div class="fac-selec">Egresado seleccionado: <strong>{{ message }}</strong></div>
    <div *ngIf = "idEdit" class="flt-button-action" title="Ver programas" (click)="open(contentprograms,'new', 'xl')">
      <i class="fa fa-book"></i>
    </div>
    <div *ngIf = "idEdit" class="flt-button-action" title="Editar" (click)="editEgresado()">
      <i class="fa fa-edit"></i>
    </div>
    <div *ngIf = "!idEdit" class="flt-button-action" title="Editar">
      <i class="fa fa-edit"></i>
    </div>
    <div class="flt-button-action" title="Crear Egresado" (click)="open(content,'new')">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <!--<div class="">
    <button type="button" name="button" (click)="openGesEncuesta()">abrir encuesta</button>


  <div class="cont-view-egresados">
    <div class="flt-button-action-fixed" title="Crear Egresado" (click)="open(content,'new')">
      <i class="fa fa-plus"></i>
    </div>
  </div></div>-->


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table hover table-striped table-bordered" id="tbl-egresados" width="100%"></table>

</div>

<ng-template #contentprograms let-c="close" let-d="dismiss">
  <div class="modal-header">
      Asignar programas
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="row">
       <form #formAcademico = 'ngForm' class="col-md-6">
         <div class="row" [ngStyle]="{'margin':'0'}">
           <input type="hidden" id="idInformacionAcademica" name="idInformacionAcademica" #idInformacionAcademica="ngModel"
                [(ngModel)]="egresado.idInformacionAcademica">
          <div class="form-group col-md-4">
           <label for="sel1">Tipo de Programa:</label>
           <select class="form-control" id="idPrograma" #idPrograma="ngModel" name="idPrograma" [(ngModel)]="egresado.idPrograma" (ngModelChange)="onChangeIdPrograma()">
             <option value="">Seleccionar</option>
             <option *ngFor="let prog of listProgramas"
                [value]="prog.idPrograma">
                {{prog.nombre}}
            </option>
           </select>
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Libro:</label>
           <input type="text" class="form-control" id="libro" name="libro" #libro="ngModel" [(ngModel)]="egresado.libro">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Folio:</label>
           <input type="text" class="form-control" id="folio" name="folio" #folio="ngModel" [(ngModel)]="egresado.folio">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Acta:</label>
           <input type="text" class="form-control" id="acta" name="acta" #acta="ngModel" [(ngModel)]="egresado.acta">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Numero de diploma:</label>
           <input type="number" class="form-control" id="numeroDiploma" name="numeroDiploma" #numeroDiploma="ngModel" [(ngModel)]="egresado.numeroDiploma">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Semestre Grado:</label>
           <input type="text" class="form-control" id="semestreGrado" name="semestreGrado" #semestreGrado="ngModel" [(ngModel)]="egresado.semestreGrado">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Forma de Grado:</label>
           <input type="text" class="form-control" id="formaGrado" name="formaGrado" #formaGrado="ngModel" [(ngModel)]="egresado.formaGrado">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Opcion de Grado:</label>
           <input type="text" class="form-control" id="tipoOpcionGrado" name="tipoOpcionGrado" #tipoOpcionGrado="ngModel" [(ngModel)]="egresado.tipoOpcionGrado">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Nota de Opcion de Grado:</label>
           <input type="text" class="form-control" id="notaOpcionGrado" name="notaOpcionGrado" #notaOpcionGrado="ngModel" [(ngModel)]="egresado.notaOpcionGrado">
        </div>
        <div class="form-group col-md-4">
           <label for="pwd">Semestre Finalizacion Materias:</label>
           <input type="number" class="form-control" id="semestreFinalizoMaterias" name="semestreFinalizoMaterias"
               #semestreFinalizoMaterias="ngModel" [(ngModel)]="egresado.semestreFinalizoMaterias">
        </div>
      </div>
      <div class="row" [ngStyle]="{'margin':'0'}">
        <div class="form-group col-md-4">
          <button class="btn btn-primary" type="button" (click)="saveFormAcademic()">Guardar</button>
        </div>
      </div>
       </form>
       <div class="col-md-6">
         <h6>Listado de programas asignados:</h6>
         <ul class="list-group">
            <li *ngFor="let prog of listProgramasEgresado" class="list-group-item list-group-item-action list-group-item-secondary" (click)="onClickProgram(prog.idPrograma)">
                  {{prog.nombre}}
            </li>
         </ul>
       </div>
    </div>
  </div>
</ng-template>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      Registro de egresado
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form-wizard>
     <wizard-step [title]="'Información basica'" [isValid]="formBasico.form.valid" (onNext)="onStep1Next($event)">
         <form #formBasico='ngForm'>
           <input type="hidden" id="idEgresado" name="idEgresado" #idEgresado="ngModel" [(ngModel)]="egresado.idEgresado" />
           <div class="row" [ngStyle]="{'margin':'0'}">
             <div class="form-group col-md-6">
              <label for="usr">*Nombres:</label>
              <input type="text" class="form-control form-control-sm" id="nombre" minlength="1" #nombre="ngModel" name="nombre" required [(ngModel)]="egresado.nombres">
              <span *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-6">
                <label for="pwd">*Apellidos:</label>
                <input type="text" class="form-control form-control-sm" id="apellidos" minlength="1" #apellidos="ngModel" name="apellidos" required [(ngModel)]="egresado.apellidos">
                <span *ngIf="apellidos.errors && (apellidos.dirty || apellidos.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="sel1">Tipo de identificacion:</label>
                <select class="form-control form-control-sm" id="tipoId" #tipoId="ngModel" name="tipoId" [(ngModel)]="egresado.tipoIdentificacion">
                  <option value="">Seleccionar</option>
                  <option value="1">Cedula de ciudadania</option>
                  <option value="2">Tarjeta de identidad</option>
                  <option value="3">Pasaportes</option>
                  <option value="4">Cedula extrangera</option>
                </select>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Numero de Identificacion:</label>
                <input type="number" class="form-control form-control-sm" id="identificacion" minlength="1" #identificacion="ngModel" name="identificacion" required [(ngModel)]="egresado.identificacion">
                <span *ngIf="identificacion.errors && (identificacion.dirty || identificacion.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Ciudad de expedici&oacute;n:</label>
                <input type="text" class="form-control form-control-sm" id="ciudadExpedicion" name="ciudadExpedicion" #ciudadExpedicion="ngModel" required [(ngModel)]="egresado.ciudadExpedicion">
                <span *ngIf="ciudadExpedicion.errors && (ciudadExpedicion.dirty || ciudadExpedicion.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Pais de residencia:</label>
                <input type="text" class="form-control form-control-sm" id="paisResidencia" #paisResidencia="ngModel" name="paisResidencia" required [(ngModel)]="egresado.paisResidencia">
                <span *ngIf="paisResidencia.errors && (paisResidencia.dirty || paisResidencia.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Ciudad de residencia:</label>
                <input type="text" class="form-control form-control-sm" id="ciudadResidencia" name="ciudadResidencia" #ciudadResidencia="ngModel" required [(ngModel)]="egresado.ciudadResidencia">
                <span *ngIf="ciudadResidencia.errors && (ciudadResidencia.dirty || ciudadResidencia.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Direcci&oacute;n de residencia:</label>
                <input type="text" class="form-control form-control-sm" id="direccionResidencia" name="direccionResidencia" #direccionResidencia="ngModel" required [(ngModel)]="egresado.direccionResidencia">
                <span *ngIf="direccionResidencia.errors && (direccionResidencia.dirty || direccionResidencia.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Telefono Fijo:</label>
                <input type="number" class="form-control form-control-sm" id="telefonoFijo" name="telefonoFijo" #telefonoFijo="ngModel" required [(ngModel)]="egresado.telefonoFijo">
                <span *ngIf="telefonoFijo.errors && (telefonoFijo.dirty || telefonoFijo.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">*Telefono Movil:</label>
                <input type="number" class="form-control form-control-sm" id="telefonoMovil" name="telefonoMovil" #telefonoMovil="ngModel" required [(ngModel)]="egresado.telefonoMovil">
                <span *ngIf="telefonoMovil.errors && (telefonoMovil.dirty || telefonoMovil.touched)" [ngClass]="{'text-validator':true}">Campo requerido</span>
             </div>
             <div class="form-group col-md-4">
                <label for="pwd">Telefono Alterno:</label>
                <input type="number" class="form-control form-control-sm" id="telefonoMovilAlterno" name="telefonoMovilAlterno" #telefonoMovilAlterno="ngModel" [(ngModel)]="egresado.telefonoMovilAlterno">

             </div>
             <div class="form-group col-md-6">
                <label for="pwd">Correo Electronico:</label>
                <input type="email" class="form-control form-control-sm" id="correoElectronico" #correoElectronico="ngModel" name="correoElectronico" [(ngModel)]="egresado.correoElectronico" placeholder="ejemplo@ejemplo.com"
                 required>
                <span *ngIf="correoElectronico.errors && (correoElectronico.dirty || correoElectronico.touched)"  [ngClass]="{'text-validator':true}">Campo Requerido</span>
             </div>
             <div class="form-group col-md-6">
                <label for="pwd">Correo Electronico Alterno:</label>
                <input type="email" class="form-control form-control-sm" id="correoElectronicoAlterno" name="correoElectronicoAlterno" #correoElectronicoAlterno="ngModel" [(ngModel)]="egresado.correoElectronicoAlterno">
             </div>

           </div>


         </form>

     </wizard-step>
     
     <wizard-step [title]="'Información de control'" (onComplete)="onComplete($event)">
      <form #formControl="ngForm">
        <div class="row" [ngStyle]="{'margin':'0'}">
          <input type="hidden" name="idInformacionControl" id="idInformacionControl" #idInformacionControl="ngModel" [(ngModel)]="egresado.idInformacionControl">
          <div class="form-group col-md-4">
             <label for="pwd">Fecha Entrega de Carnet:</label>
             <input type="date" class="form-control" id="fechaEntregaCarnet" name="fechaEntregaCarnet"
                 #fechaEntregaCarnet="ngModel" [(ngModel)]="egresado.fechaEntregaCarnet">
          </div>
          <div class="form-group col-md-4">
             <label for="pwd">Encuesta M0En:</label>
             <input type="date" class="form-control" id="encuestaM0En" name="encuestaM0En"
                 #encuestaM0En="ngModel" [(ngModel)]="egresado.encuestaM0En">
          </div>

          <div class="form-group col-md-4">
             <label for="pwd">Encuesta M1En:</label>
             <input type="date" class="form-control" id="encuestaM1En" name="encuestaM1En"
                 #encuestaM1En="ngModel" [(ngModel)]="egresado.encuestaM1En">
          </div>

          <div class="form-group col-md-4">
             <label for="pwd">Encuesta M5En:</label>
             <input type="date" class="form-control" id="encuestaM5En" name="encuestaM5En"
                 #encuestaM5En="ngModel" [(ngModel)]="egresado.encuestaM5En">
          </div>

          <div class="form-group col-md-4">
             <label for="pwd">Grado Academusoft:</label>
             <input type="text" class="form-control" id="gradoAcademusoft" name="gradoAcademusoft"
                 #gradoAcademusoft="ngModel" [(ngModel)]="egresado.gradoAcademusoft">
          </div>

          <div class="form-group col-md-4">
             <label for="pwd">Recibe Información:</label>
             <input type="number" class="form-control" id="recibeInformacion" maxlength="1" max="2" min="1" name="recibeInformacion"
                 #recibeInformacion="ngModel" [(ngModel)]="egresado.recibeInformacion">
          </div>
          <div class="form-group col-md-4">
             <label for="pwd">Tipo de Información:</label>
             <input type="text" class="form-control" id="tipoInformacion" name="tipoInformacion"
                 #tipoInformacion="ngModel" [(ngModel)]="egresado.tipoInformacion">
          </div>
          <div class="form-group col-md-4">
             <label for="pwd">Observacion Correo:</label>
             <input type="text" class="form-control" id="observacionCorreo" name="observacionCorreo"
                 #observacionCorreo="ngModel" [(ngModel)]="egresado.observacionCorreo">
          </div>

          <div class="form-group col-md-4">
             <label for="pwd">Observaciones Generales:</label>
             <input type="text" class="form-control" id="observacionesGenerales" name="observacionesGenerales"
                 #observacionesGenerales="ngModel" [(ngModel)]="egresado.observacionesGenerales">
          </div>

        </div>
      </form>
     </wizard-step>
   </form-wizard>
  </div>
  <div class="modal-footer" [ngStyle]="{'display': 'none'}">
    <!--  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>-->
  </div>
</ng-template>
<!--MODAL DE NOTIFICACIONES-->
<ng-template #mdlNotification let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">{{titleNotification}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
   <div class="row">

     <div class="col-2 icon-message">
       <i [className] = 'iconNotification' [style.color] = "colorAlert"></i>
     </div>
     <div class="col-10">
       {{messageNotification}}
     </div>

   </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="c('Close click')">Aceptar</button>
  </div>
</ng-template>
